*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}

div{
    border-radius: 50%;
}

.sun_orbit{
    border: 1px solid gray;
    margin: auto;
    width: 300px;
    height: 300px; 
    position: relative;
    top: 100px;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: sun_orbit;
}

@keyframes sun_orbit{
    from{}
    to{
        transform: rotateZ(360deg);
    }
}

.sun{
    background: yellow;
    width: 180px;
    height: 180px;
    position: absolute;
    left: 60px;
    top: 60px;
}

.earth_orbit{
    border: 1px solid gray;
    width: 70px;
    height: 70px;
    position: relative;
    top: 18px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: earth_orbit;
}

@keyframes earth_orbit{
    from{}
    to{
        transform: rotateZ(360deg);
    }
}
.earth{
    width: 30px;
    height: 30px;
    background: blue;
    position: absolute;
    top: 18px;
    left: 18px;
}

.moon{
    background: gray;
    width: 15px;
    height: 15px;
    position: relative;
    position: absolute;
    bottom: 0;
    left: 5px;
}
